{% extends 'base.twig' %}

{% block scripts %}
    <script src="/static/js/index.js" type="text/javascript" async></script>
{% endblock %}

{% block main %}
    <div id="articles">
        {% for entry in blogEntries %}
            <article>
                <header><h1>{{ entry.parsedTitle }}</h1></header>
                <main>
                    {{ entry.parsedText }}
                </main>
                <footer>
                    {% set createdAt = entry.createdAt|date('Y-m-d H:i:s') %}
                    <div class="date">{% trans %}Created: {{ createdAt }}{% endtrans %}</div>
                </footer>
            </article>
        {% endfor %}
    </div>
    <div id="info"></div>
    <form id="createNew">
        <fieldset>
            <legend>{% trans "Create new entry" %}</legend>
            <input type="text" name="title" id="titleField" placeholder="{% trans "Title" %}" required
                   pattern=".{3,}"
            >
            <textarea name="text" id="textField" placeholder="{% trans "Text" %}" required></textarea>
            <input type="submit">
        </fieldset>
    </form>
{% endblock %}