<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% trans "Blog title" %}</title>
    <meta name="robots" content="index, follow">
    <!-- styles that should be there on first render -->
    <style type="text/css">{% include 'css/inline/main.css' %}</style>

    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
    {% block scripts %}{% endblock %}
</head>
<body>
<header>
    Some Header
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    Some footer
</footer>
</body>
</html>